.btn-padding {
    margin: 10px;
}

p {
    line-height: 1.8;
}

.item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.item.card-1 {
    background-color: #1ABC9C;
}

.item.card-2 {
    background-color: royalblue;
}

.item.card-3 {
    background-color: #E74C3C;
}

.btn-more {
    background-color: gray;
    color: black;
}

.terms-text {
    font-size: 12px;
}

.busy-button {
    position: relative;
    vertical-align: top;
    top: -95px;
    left:0;
}